#myShop {
  overflow: hidden;
}
/* end*/

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  word-break: break-word;
}

.header-section {
  background-color: #191919;
  width: 100%;
}

.header-section2 {
  width: 100%;
}

.nav-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

header .container .menu li:first-child {
  padding: 0;
}

.text-container .highlight {
  margin-top: 30px;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 2;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 15px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2.5px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(-12px, 0, 0) rotate(-37deg) scale(0.7, 1);
  transform: translate3d(-12px, 0, 0) rotate(-37deg) scale(0.7, 1);
}

.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(-12px, 0, 0) rotate(37deg) scale(0.7, 1);
  transform: translate3d(-12px, 0, 0) rotate(37deg) scale(0.7, 1);
}

.mobile-nav {
  visibility: hidden;
  display: none;
  background-color: #191919;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transform: translateX(-81vw);
  transform: translateX(-81vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.is-open {
  -webkit-transform: translateX(0vw);
  transform: translateX(0vw);
  visibility: visible;
}

.nav-mobile {
  margin: 5rem;
  padding: 0;
}

.nav-mobile li {
  padding: 0;
  list-style: none;
  margin-bottom: 3rem;
}

.nav-mobile a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.mobile-nav path {
  fill: #fff;
}

.mobile-nav .menu {
  margin: 5rem;
}

.mobile-nav .menu li:first-child {
  padding: 0;
}

.fixed {
  overflow: hidden;
}

.container {
  align-items: center;
  padding: 25px;
  max-width: 1350px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  height: 25px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
  padding-left: 30px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.menu .active {
  color: #5a5aff;
  border-bottom: 2px solid #5a5aff;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  color: #b3b3b3;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 20px 0;
}

a:hover,
a:focus {
  color: #5a5aff;
}

.slider {
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}

.indicator {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.indicator div {
  display: flex;
  z-index: 9999;
  color: white;
  font-size: 70px;
}

.indicator a {
  border-radius: 50px;
  margin: 0 10px;
  color: white;
}

.header-start {
  width: 100%;
  position: fixed;
  z-index: 9;
  transition: all 0.3s;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.hero-section {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.video {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.video-overlay {
  position: absolute;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 0.8;
}

.video-container {
  max-width: 1350px;
  margin: 0 auto;
}

.row-1 {
  flex: 0 0 42%;
  padding: 0 30px;
  max-width: 42%;
}

.row-1 span {
  color: #5f5aff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.row-1 h2 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

.row-1 p {
  margin-bottom: 45px;
  color: #fff;
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 42%;
  padding: 0 30px;
  max-width: 42%;
}

.circle {
  padding: 3px 3px 0px 3px;
  border-radius: 150px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
}

.circle svg .active-path {
  fill: #fff;
  opacity: 1;
}

.text-container {
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container .btn-primary {
  min-width: 75%;
  text-align: center;
  font-size: 22px;
}

.about-section {
  background-color: #191919;
  padding: 100px 0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.sequenz {
  text-align: center;
}

.text-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0 0 120px;
}

.text-box span {
  margin-bottom: 20px;
}

.text {
  padding: 0px 0 0 20px;
}

.title-section {
  margin-bottom: 15px;
}

.span-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span {
  color: #5a5aff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title-section h2 {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  margin-top: 14px;
}

.title-section .first-paragraph {
  margin-bottom: 10px;
}

.title-section .second-paragraph {
  margin-bottom: 35px;
}

.btn-primary {
  font-size: 16px;
  color: #fff;
  background-color: #5a5aff;
  display: inline-block;
  font-weight: 700;
  padding: 12px 30px 10px;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #fff;
  color: #5a5aff;
}

.stream-section {
  background-color: #222222;
  padding-bottom: 50px;
}

.section-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.section-container .title-section span {
  text-align: center;
}

.streams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1350px;
  margin: 0 auto;
}

.twitch-iframe {
  height: 338px;
  width: 600px;
  margin-bottom: 50px;
}

.frames {
  margin: 50px 0;
}

.banner {
  background-color: #191919;
  background-blend-mode: soft-light;
}

.banner p {
  margin-top: 30px;
  color: #fff;
}

.twitch-iframe:nth-child(odd) {
  margin-right: 50px;
}

footer {
  background-color: #222;
  color: #fff;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer .footer-container {
  padding: 25px;
  align-items: center;
}

footer .container {
  padding: 25px 0;
}

.menu svg {
  height: 20px;
  width: 20px;
  transition: all 0.3s ease;
}

footer .menu {
  flex-wrap: wrap;
  justify-content: center;
}

.footer-section {
  display: flex;
  justify-content: center;
}

.footer-section a {
  color: #5a5aff;
}

.rank,
.lp,
.win,
.lose {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rank,
.lp {
  margin-bottom: 50px;
}

.background-image {
  display: none;
}

.imprint-container {
  background-color: #222222;
  color: #eee;
  padding: 50px 15rem 20px;
}

#slide-2 {
  background-color: #222;
  overflow: hidden;
  flex-flow: column;
}

#slide-2 h2 {
  color: #fff;
  margin-bottom:30px;
}

.slide-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merch-img {
  width: 100%;
}

.img-box {
  position: relative;
  max-width: 33%;
}

.img-box img {
  opacity: 0.5;
  transition: all 0.3s;
}

.img-box .btn-primary {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}

.img-box:hover > .btn-primary {
  opacity: 1;
}

.img-box:hover > img {
  opacity: 1;
}

@media only screen and (max-width: 1250px) {
  .imprint-container {
    padding: 50px 3rem 20px;
  }

  .video {
    width: 100%;
  }

  .streams {
    margin: 0 25px;
  }

  .title-section {
    margin: 0 25px;
  }

  .title-section h2 {
    font-size: 39px;
  }

  .twitch-iframe:nth-child(odd) {
    margin-right: 0;
  }

  .clip-btn {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .frames {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .background-image {
    height: calc(100vh - 79px);
    width: 100vw;
    display: block;
    background-image: url(../img/lol.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .video {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .row-1 {
    max-width: 100%;
  }

  .row-1 p {
    margin: 0;
  }

  .row-2 {
    max-width: 100%;
    flex: 100%;

  }

  .text {
    padding: 0;
  }

  .twitch-iframe:nth-child(odd) {
    margin-right: 0;
  }

  .twitch-iframe {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
  }

  .mobile-nav {
    display: block;
  }

  header .menu:not(:first-child) {
    display: none;
  }

  header .menu li:not(:first-child) {
    display: none;
  }

  footer .container {
    flex-direction: column;
  }

  footer .container .menu li:first-child {
    padding: 0;
  }

  footer .logo-section {
    margin-bottom: 30px;
  }

  footer .menu {
    padding-bottom: 30px;
  }

  footer .container {
    padding-bottom: 0;
  }

  .slide-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
  }

  .SprdMain .sprd-header {
    justify-content: space-between !important;
    margin-right: 25px !important;
  }

  .imprint-container {
    padding: 50px 3rem 20px;
  }
}
